<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Wrong Region</title>
</head>
<body style="color:darkcyan; background-color:black">
    <h1>Devices in the region {{r}} are not allowed to use this VPN.</h1>
    <h4>However, you might be able to create your own VPN using this software.<br/>A github link will be provided soon.</h4>
    <h3>The following regions can use this VPN:</h3>
    <ul>
    {% for i in regions %}
    <li>{{ i }}</li>
    {% endfor %}
    </ul>
</body>
</html>
